body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: hsl(233, 47%, 7%);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2em;
  text-align: center;
  border-radius: 20px;
  background: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  line-height: 1.25em;
}

.header-img {
  width: 100%;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg)
    saturate(600%) contrast(0.8);
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
}

.stats {
  list-style: none;
  padding: 0;
}

.stats-heading {
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
